.hello:link {
  color: orange;
}

.hello:hover {
  color       : green;
  font-family : arial;
  font-size   : 20px;
}

.hello:active {
  font-style: italic;
}

.hello:visited {
  color: red;
}

li:first-child a {
  color: brown;
}

li:nth-child(2n) a:hover {
  color: green;
}

li:last-child a {
  color: chartreuse;
}

p:first-of-type {
  color: red;
}